<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{user/layout/layout  ::  layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Phòng trọ vip - Quản lý</title>

    <th:block id="css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2 border-bottom pb-3">
                    <div class="col-sm-12 mb-4">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/quan-ly">Quản lý</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/quan-ly/thong-tin-ca-nhan">Cập nhật thông tin cá nhân</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Đổi mật khẩu
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-12">
                        <h1>Đổi mật khẩu</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form  id="form-change-password">
                    <div class="form-group row mt-4">
                        <label for="current-password" class="col-md-2 offset-md-2 col-form-label">Mật khẩu hiện tại</label>
                        <div class="col-md-6">
                            <input type="password" name="currentPassword" class="form-control" id="current-password" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="new-password" class="col-md-2 offset-md-2 col-form-label">Mật khẩu mới</label>
                        <div class="col-md-6">
                            <input type="password" name="newPassword" class="form-control" id="new-password" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirm-password" class="col-md-2 offset-md-2 col-form-label">Nhập lại mật khẩu mới</label>
                        <div class="col-md-6">
                            <input type="password" name="confirmPassword" class="form-control" id="confirm-password" >
                        </div>
                    </div>
                    <div class="form-group row mt-5">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary mb-2 btn-block">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<!-- jQuery -->
<script src="/admin-user-assets/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap 4 -->
<script src="/admin-user-assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- overlayScrollbars -->
<script src="/admin-user-assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin-user-assets/dist/js/adminlte.js"></script>

<th:block id="js">
    <script src="/admin-user-assets/dist/js/change-user-infor.js"></script>
</th:block>
</body>

</html>