<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{user/layout/layout  ::  layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Phòng trọ vip - Quản lý</title>

    <th:block id="css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Trang quản lý
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <a href="/quan-ly/dang-tin-moi">
                    <button type="button" class="btn btn-block btn-danger mb-4">
                        <i class="fas fa-plus-circle nav-icon"></i>
                        Đăng tin mới
                    </button>
                </a>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="mr-2 far fa-calendar-alt nav-icon"></i>
                        Quản lý tin đăng
                        <i class="fas fa-angle-right nav-icon float-right mt-1"></i>
                    </a>
                    <a href="/quan-ly/nap-tien" class="list-group-item list-group-item-action">
                        <i class="mr-2 fas fa-dollar-sign nav-icon"></i>
                        Nạp tiền vào tài khoản
                        <i class="fas fa-angle-right nav-icon float-right mt-1"></i>
                    </a>
                    <a href="/quan-ly/quan-ly/lich-su-nap-tien" class="list-group-item list-group-item-action">
                        <i class="mr-2 fas fa-history nav-icon"></i>
                        Lịch sử nạp tiền
                        <i class="fas fa-angle-right nav-icon float-right mt-1"></i>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="mr-2 far fa-calendar-check nav-icon"></i>
                        Lịch sử thanh toán
                        <i class="fas fa-angle-right nav-icon float-right mt-1"></i>
                    </a>
                    <a href="/quan-ly/thong-tin-ca-nhan" class="list-group-item list-group-item-action">
                        <i class="mr-2 far fa-edit nav-icon"></i>
                        Sửa thông tin cá nhân
                        <i class="fas fa-angle-right nav-icon float-right mt-1"></i>
                    </a>
                    <a href="/quan-ly/doi-mat-khau" class="list-group-item list-group-item-action">
                        <i class="mr-2 far fa-calendar-alt nav-icon"></i>
                        Đổi mật khẩu
                        <i class="fas fa-angle-right nav-icon float-right mt-1"></i>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="mr-2 far fa-comment nav-icon"></i>
                        Liên hệ
                        <i class="fas fa-angle-right nav-icon float-right mt-1"></i>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="mr-2 fas fa-sign-out-alt nav-icon"></i>
                        Đăng xuất
                        <i class="fas fa-angle-right nav-icon float-right mt-1"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
<th:block id="js">
</th:block>
</body>

</html>