<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<footer >
    <section class="section-support container">
        <div class="section-support-bg">

        </div>
        <div class="section-support-contact ">
            <div class="support-contact-title">
                Liên hệ với chúng tôi nếu bạn cần hỗ trợ:
            </div>
            <div class="d-flex align-items-center justify-content-around">
                <div class="support-contact-item d-flex flex-column">
                            <span class="contact-item-title">
                                Hỗ trợ đăng tin
                            </span>
                    <a href="">Điện thoại: 0999999999</a>
                    <a href="">Zalo: 0999999999</a>
                </div>
                <div class="support-contact-item d-flex flex-column">
                            <span class="contact-item-title">
                                Hỗ trợ thanh toán
                            </span>
                    <a href="">Điện thoại: 0999999999</a>
                    <a href="">Zalo: 0999999999</a>
                </div>
                <div class="support-contact-item d-flex flex-column">
                            <span class="support-contact-title">
                                Phản ánh/Khiếu nại
                            </span>
                    <a href="">Điện thoại: 0999999999</a>
                    <a href="">Zalo: 0999999999</a>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5 bg-white">
        <div class="container page-footer-content">
            <div class="footer-links d-flex  justify-content-between">
                <div class="footer-links-item">
                    <div class="links-item-header">
                        <a class="links-item-title" href="">Cho thuê phòng trọ, nhà trọ

                        </a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="links-item-sublink">
                        <li class="">
                            <a href="">Cho thuê phòng trọ Hồ Chí Minh</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê phòng trọ Hà Nội</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê phòng trọ Đà Nẵng</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê phòng trọ Cần thơ</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê phòng trọ Bình Dương</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê phòng trọ Đồng Nai</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê phòng trọ Bà Rịa - Vũng Tàu</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê phòng trọ Khánh Hòa</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links-item ">
                    <div class="links-item-header">
                        <a class="links-item-title" href="">Cho thuê nhà nguyên căn
                        </a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="links-item-sublink">
                        <li class="">
                            <a href="">Cho thuê nhà Hồ Chí Minh</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê nhà Hà Nội</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê nhà Bình Dương</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê nhà Đà Nẵng</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê nhà Đồng Nai</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê nhà Cần Thơ</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê nhà Khánh Hòa</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links-item ">
                    <div class="links-item-header">
                        <a class="links-item-title" href="">Cho thuê căn hộ
                        </a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="links-item-sublink">
                        <li class="">
                            <a href="">Cho thuê căn hộ Hồ Chí Minh</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê căn hộ Hà Nội</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê căn hộ Bình Dương</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê căn hộ Đà Nẵng</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê căn hộ Hải Phòng</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê căn hộ Khánh Hòa</a>
                        </li>

                    </ul>
                </div>
                <div class="footer-links-item ">
                    <div class="links-item-header">
                        <a class="links-item-title" href="">Cho thuê mặt bằng
                        </a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="links-item-sublink">
                        <li class="">
                            <a href="">Cho thuê mặt bằng Hồ Chí Minh</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê mặt bằng Hà Nội</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê mặt bằng Bình Dương</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê mặt bằng Đà Nẵng</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê mặt bằng Hải Phòng</a>
                        </li>
                        <li class="">
                            <a href="">Cho thuê mặt bằng Khánh Hòa</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links-item ">
                    <div class="links-item-header">
                        <a class="links-item-title" href="">Tìm người ở ghép
                        </a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="links-item-sublink">
                        <li class="">
                            <a href="">Tìm người ở ghép Hồ Chí Minh</a>
                        </li>
                        <li class="">
                            <a href="">Tìm người ở ghép Hà Nội</a>
                        </li>
                        <li class="">
                            <a href="">Tìm người ở ghép Đà Nẵng</a>
                        </li>
                        <li class="">
                            <a href="">Tìm người ở ghép Bình Dương</a>
                        </li>
                        <li class="">
                            <a href="">Tìm người ở ghép Cần Thơ</a>
                        </li>
                        <li class="">
                            <a href="">Tìm người ở ghép Đồng Nai</a>
                        </li>
                        <li class="">
                            <a href="">Tìm người ở ghép Hải Phòng</a>
                        </li>
                        <li class="">
                            <a href="">Tìm người ở ghép Khánh Hòa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white pb-4">
        <div class="container footer-infor d-flex">
            <div class="footer-col footer-col-first">
                <a class="footer-logo" href="">
                    <img src="/web-assets/image/logo.png"  alt="">
                </a>
            </div>
            <div class="footer-col">
                <span class="footer-col-title">Về chúng tôi</span>
                <ul class="footer-col-list">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Giới Thiệu</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Quy chế hoạt động</a></li>
                    <li><a href="">Quy định sử dụng</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <span class="footer-col-title">Hỗ trợ khác hàng</span>
                <ul class="footer-col-list">
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="">Hướng dẫn đăng tin</a></li>
                    <li><a href="">Bảng giá dịch vụ</a></li>
                    <li><a href="">Quy định đăng tin</a></li>
                    <li><a href="">Giải quyết khiếu nại</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <span class="footer-col-title">Liên hệ với chúng tôi</span>
                <div class="social-link">
                    <a class="social-fb" href="">
                        <i></i>
                    </a>
                    <a class="social-yt" href="">
                        <i></i>
                    </a>
                    <a class="social-zl" href="">
                        <i></i>
                    </a>
                    <a class="social-tw" href="">
                        <i></i>
                    </a>
                </div>
                <span class="footer-col-title">Phương thức thanh toán</span>
                <div>
                    <span class="payment-icon icon-visa"></span>
                    <span class="payment-icon icon-mastercard"></span>
                    <span class="payment-icon icon-internet-banking"></span>
                    <span class="payment-icon icon-tienmat"></span>
                </div>
            </div>
        </div>
    </section>
</footer>
</body>
</html>