<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header id="header">
    <div class="container container-header d-flex justify-content-between align-items-center">
        <a href="#">
            <img src="/web-assets/image/logo.png" alt="logo" class="logo-top">
        </a>
        <div class="user-welcome">
            <a href="" class="btn">
                <i class="fa-solid fa-heart me-2"></i>
                <span class="btn-text">Yêu thích</span>
            </a>
            <a href="" class="btn">
                <i class="fa-solid fa-user-plus me-2"></i>
                <span class="btn-text">Đăng nhập</span>
            </a>
            <a href="" class="btn">
                <i class="fa-solid fa-arrow-up-right-from-square me-2"></i>
                <span class="btn-text">Đăng ký</span>
            </a>
            <a href="" class="btn btn-add-post">
                <i class="fa-solid fa-circle-plus me-2"></i>
                <span class="btn-text">Đăng tin miễn phí</span>

            </a>
        </div>
    </div>

    <nav id="main-menu">
        <ul class="container d-flex nav-menu" >
            <li class="nav-item"><a href="/">Trang chủ</a></li>
            <li class="nav-item"><a href="/cho-thue-phong-tro">Cho thuê phòng trọ</a></li>
            <li class="nav-item"><a href="/cho-thue-nha">Nhà cho thuê</a></li>
            <li class="nav-item"><a href="/cho-thue-can-ho">Cho thuê căn hộ</a></li>
            <li class="nav-item"><a href="/cho-thue-mat-bang">Mặt bằng, văn phòng</a></li>
            <li class="nav-item"><a href="/tim-nguoi-o-ghep">Tìm người ở ghép</a></li>
            <li class="nav-item"><a href="#">Tin tức</a></li>
            <li class="nav-item"><a href="#">Bảng giá dịch vụ</a></li>
        </ul>
    </nav>
</header>
</body>
</html>