<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác thực Email</title>
</head>
<body style="font-family: Roboto, Arial, sans-serif;">
<table style="background-color: #ffffff; padding: 25px; border-radius: 5px; box-shadow: 0 2px 8px rgba(0,0,0,0.15); max-width: 600px; margin: 0 auto;">
    <tr>
        <td style="width: 100%; height: 2px; background-color: #3961FB; margin: 20px 0;"></td>
    </tr>
    <!-- Header -->
    <tr>
        <td style="color: #333333; font-size: 24px; font-weight: bold; text-align: left; margin-top: 25px;">
            Xin chào [[${user.name}]],
        </td>
    </tr>
    <!-- Sub-header -->
    <tr>
        <td style="color: #333333; font-size: 15px; line-height: 23px; text-align: left; margin-top: 10px;">
            <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi!</p>
            <p>Vui lòng kích vào nút dưới đây để xác thực tài khoản của bạn.</p>
        </td>
    </tr>
    <!-- Button -->
    <tr>
        <td style="text-align: center; padding-top: 20px;">
            <a th:href="${link}" style="display: inline-block; padding: 15px 25px; font-size: 18px; font-weight: bold; color: white; background-color: #3961FB; border-radius: 5px; text-align: center; text-decoration: none;">Xác Thực Tài Khoản</a>
        </td>
    </tr>
    <tr style="height:80px"></tr>
</table>
</body>
</html>